<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <div th:replace="fragments/head :: head"></div>
    <title>Page title</title>
</head>

<body>
<div id="preloader"></div>
<div class="wrapper bg-ash" id="wrapper">
    <div th:replace="include/header-menu::header-menu"></div>
    <div class="dashboard-page-one">
        <div th:replace="include/sidebar::sidebar"></div>
        <div th:if="${status}">
            <h1 th:text="${status}">status</h1>
        </div>
    </div>
</div>

<th:block th:replace="include/scripts :: scripts"/>
</body>
</html>


