<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <div th:replace="fragments/head :: head"></div>
    <title>Page title</title>
</head>

<body>
<div id="preloader"></div>
<div class="wrapper bg-ash" id="wrapper">
    <div th:replace="include/header-menu::header-menu"></div>
    <div class="dashboard-page-one">
        <div th:replace="include/sidebar::sidebar"></div>
        <div class="dashboard-content-one">
            <!-- Breadcubs Area Start Here -->
            <div class="breadcrumbs-area">
                <h3>Students</h3>
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>Student Form</li>
                </ul>
            </div>
            <!-- Breadcubs Area End Here -->
            <!-- Admit Form Area Start Here -->
            <div class="card height-auto">
                <div class="card-body">
                    <div class="heading-layout1">
                        <div class="item-title">
                            <h3>Add New Students</h3>
                        </div>
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="add-student.html#" role="button" data-toggle="dropdown"
                               aria-expanded="false">...</a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="add-student.html#"><i
                                        class="fas fa-times text-orange-red"></i>Close</a>
                                <a class="dropdown-item" href="add-student.html#"><i
                                        class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                <a class="dropdown-item" href="add-student.html#"><i
                                        class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                            </div>
                        </div>
                    </div>
                    <form class="new-added-form" th:object="${student}" th:action="@{/save-student}" method="post">
                        <div class="row">
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                <label>First Name *</label>
                                <input type="text" placeholder="" th:field="*{firstName}" class="form-control">
                            </div>
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                <label>Last Name *</label>
                                <input type="text" placeholder="" th:field="*{lastName}" class="form-control">
                            </div>
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                <label>Roll</label>
                                <input type="text" placeholder="" th:field="*{rollNumber}" class="form-control">
                            </div>
                            <div class="col-lg-6 col-12 form-group mg-t-30">
                                <label class="text-dark-medium">Upload Student Photo (150px X 150px)</label>
                                <input type="file" class="form-control-file">
                            </div>
                            <div class="col-12 form-group mg-t-8">
                                <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save
                                </button>
                                <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Admit Form Area End Here -->
            <footer class="footer-wrap-layout1">
                <div class="copyright">© Copyrights <a href="add-student.html#">akkhor</a> 2019. All rights reserved.
                    Designed by <a
                            href="add-student.html#">PsdBosS</a></div>
            </footer>
        </div>
    </div>
</div>

<th:block th:replace="include/scripts :: scripts"/>
</body>
</html>


