<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head :: head"></div>
    <title>Page title</title>
</head>

<body>
<div id="preloader"></div>
<div class="wrapper bg-ash" id="wrapper">
    <div th:replace="include/header-menu::header-menu"></div>
    <div class="dashboard-page-one">
        <div th:replace="include/sidebar::sidebar"></div>
        <div class="dashboard-content-one">
            <!-- Breadcubs Area Start Here -->
            <div class="breadcrumbs-area">
                <h3>Students</h3>
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>All Students</li>
                </ul>
            </div>
            <!-- Breadcubs Area End Here -->
            <!-- Student Table Area Start Here -->
            <div class="card height-auto">
                <div class="card-body">
                    <div class="heading-layout1">
                        <div class="item-title">
                            <h3>All Students</h3>
                        </div>
                        <div class="dropdown">
                            <a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown"
                               href="all-student.html#"
                               role="button">...</a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="all-student.html#"><i
                                        class="fas fa-times text-orange-red"></i>Close</a>
                                <a class="dropdown-item" href="all-student.html#"><i
                                        class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                <a class="dropdown-item" href="all-student.html#"><i
                                        class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                            </div>
                        </div>
                    </div>
                    <form class="mg-b-20">
                        <div class="row gutters-8">
                            <div class="col-3-xxxl col-xl-3 col-lg-3 col-12 form-group">
                                <input class="form-control" placeholder="Search by Roll ..." type="text">
                            </div>
                            <div class="col-4-xxxl col-xl-4 col-lg-3 col-12 form-group">
                                <input class="form-control" placeholder="Search by Name ..." type="text">
                            </div>
                            <div class="col-1-xxxl col-xl-2 col-lg-3 col-12 form-group">
                                <button class="fw-btn-fill btn-gradient-yellow" type="submit">SEARCH</button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive">
                        <table class="table display data-table text-nowrap">
                            <thead>
                            <tr>

                                <th>Roll number</th>
                                <th>Photo</th>
                                <th>FirstName</th>
                                <th>LastName</th>
                                <th>Fingerprint</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="student: ${students}">
                                <td th:text="${student.rollNumber}">1704.01020</td>
                                <td class="text-center"><img alt="student" src="img/figure/student1.png"></td>
                                <td th:text="${student.firstName}">John</td>
                                <td th:text="${student.lastName}">Smith</td>
                                <td>
                                    <a class="dropdown-item"
                                       th:href="@{/add-fingerprint/{id}(id = ${student.rollNumber})}">
                                        <!--                                            <i class="fas fa-times text-orange-red"></i>Add Fingerprint-->
                                        <button class="btn btn-outline-dark" type="button">
                                            <i class="fas fa-plus" id="faplus"></i> Add Fingerprint
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Student Table Area End Here -->
            <footer class="footer-wrap-layout1">
                <div class="copyright">© Copyrights <a href="all-student.html#">akkhor</a> 2019. All rights reserved.
                    Designed by <a
                            href="all-student.html#">PsdBosS</a></div>
            </footer>
        </div>
    </div>
</div>

<th:block th:replace="include/scripts :: scripts"/>
</body>
</html>


