<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="include/head::head(pageTitle='SomeTitle')">
    <title>Add subject</title>
</head>

<body>
<div id="preloader"></div>
<div class="wrapper bg-ash" id="wrapper">
    <div th:replace="include/header-menu::header-menu"></div>
    <div class="dashboard-page-one">
        <div th:replace="include/sidebar::sidebar"></div>
        <div class="dashboard-content-one">
            <!-- Breadcubs Area Start Here -->
            <div class="breadcrumbs-area">
                <h3>All Subjects</h3>
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>Subjects</li>
                </ul>
            </div>
            <!-- Breadcubs Area End Here -->
            <!-- All Subjects Area Start Here -->
            <div class="row">
                <div class="col-4-xxxl col-12">
                    <div class="card height-auto">
                        <div class="card-body">
                            <div class="heading-layout1">
                                <div class="item-title">
                                    <h3>Add New Subject</h3>
                                </div>
                            </div>
                            <form class="new-added-form" th:action="@{/save-subject}" th:object="${subject}"
                                  method="post">
                                <div class="row">
                                    <div class="col-12-xxxl col-lg-6 col-12 form-group">
                                        <label>Subject Code *</label>
                                        <input class="form-control" placeholder="" type="text" th:field="*{code}"/>
                                    </div>
                                    <div class="col-12-xxxl col-lg-6 col-12 form-group">
                                        <label>Subject Name *</label>
                                        <input class="form-control" placeholder="" type="text" th:field="*{name}"/>
                                    </div>
                                    <div class="col-12 form-group mg-t-8">
                                        <button class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark"
                                                type="submit">Save
                                        </button>
                                        <button class="btn-fill-lg bg-blue-dark btn-hover-yellow" type="reset">Reset
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-8-xxxl col-12">
                    <div class="card height-auto">
                        <div class="card-body">
                            <div class="heading-layout1">
                                <div class="item-title">
                                    <h3>All Subjects</h3>
                                </div>
                            </div>
                            <form class="mg-b-20">
                                <div class="row gutters-8">
                                    <div class="col-lg-4 col-12 form-group">
                                        <input class="form-control" placeholder="Search by Code ..." type="text">
                                    </div>
                                    <div class="col-lg-3 col-12 form-group">
                                        <input class="form-control" placeholder="Search by Subject ..." type="text">
                                    </div>
                                    <div class="col-lg-2 col-12 form-group">
                                        <button class="fw-btn-fill btn-gradient-yellow"
                                                type="submit">SEARCH
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <div class="table-responsive">
                                <table class="table display data-table text-nowrap">
                                    <thead>
                                    <tr>
                                        <th>
                                            <div class="form-check">
                                                <input class="form-check-input checkAll" type="checkbox">
                                                <label class="form-check-label">Code</label>
                                            </div>
                                        </th>
                                        <th>Subject Name</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="subject: ${subjects}">
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox">
                                                <label class="form-check-label" th:text="${subject.code}">cs-101</label>
                                            </div>
                                        </td>
                                        <td th:text="${subject.name}">Computer engineering</td>
                                        <td>
                                            <div class="dropdown">
                                                <a aria-expanded="false" class="dropdown-toggle"
                                                   data-toggle="dropdown"
                                                   href="all-subject.html#">
                                                    <span class="flaticon-more-button-of-three-dots"></span>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="all-subject.html#"><i
                                                            class="fas fa-times text-orange-red"></i>Delete</a>
                                                    <a class="dropdown-item" href="all-subject.html#"><i
                                                            class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- All Subjects Area End Here -->
            <footer class="footer-wrap-layout1">
                <div class="copyright">© Copyrights <a href="all-subject.html#">akkhor</a> 2019. All rights reserved.
                    Designed by <a
                            href="all-subject.html#">PsdBosS</a></div>
            </footer>
        </div>
    </div>
</div>

<th:block th:replace="include/scripts :: scripts"/>
</body>
</html>