<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <div th:replace="fragments/head :: head"></div>
    <title>Page title</title>
</head>

<body>
<div id="preloader"></div>
<!-- Login Page Start Here -->
<div class="login-page-wrap">
    <div class="login-page-content">
        <div class="login-box">
            <div class="item-logo">
                <img src="img/logo2.png" alt="logo">
            </div>
            <form class="login-form" th:action="@{/authenticateTheUser}" method="post">

                <div th:if="${(param.error != null)}" class="alert alert-danger col-xs-offset-1 col-xs-10">
                    Invalid username and password.
                </div>


                <div th:if="${(param.logout != null)}" class="alert alert-success col-xs-offset-1 col-xs-10">
                    You have been logged out.
                </div>

                <div class="form-group">
                    <label>Username</label>
                    <input class="form-control" name="username" placeholder="username" type="text">
                    <i class="far fa-envelope"></i>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" name="password" placeholder="password" type="password">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="form-group d-flex align-items-center justify-content-between">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="remember-me">
                        <label for="remember-me" class="form-check-label">Remember Me</label>
                    </div>
                    <a href="login.html#" class="forgot-btn">Forgot Password?</a>
                </div>
                <div class="form-group">
                    <button type="submit" class="login-btn">Login</button>
                </div>
            </form>
        </div>
        <div class="sign-up">Don't have an account ? <a th:href="@{/signUp}">Sign up now!</a></div>
    </div>
</div>
<!-- Login Page End Here -->

<th:block th:replace="include/scripts :: scripts"/>
</body>
</html>


