<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" rel="stylesheet">

    <title>Student Directory</title>
</head>

<body>
<div class="container">
    <h3>Student Directory</h3>
    <hr>
    <a class="btn btn-primary btn-sm mb-3"
       th:href="@{/students/showFormForAdd}">
        Add Student
    </a>

    <form action="#" th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout"/>
    </form>

    <hr>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Roll Number</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <!--        <tr th:each="tempStudent : ${students}">-->

        <!--            <td th:text="${tempStudent.firstName}"/>-->
        <!--            <td th:text="${tempStudent.lastName}"/>-->
        <!--            <td th:text="${tempStudent.rollNumber}"/>-->

        <!--            <td>-->
        <!--                <a class="btn btn-info btn-sm"-->
        <!--                   th:href="@{/students/showFormForUpdate(studentId=${tempStudent.rollNumber})}">-->
        <!--                    Update-->
        <!--                </a>-->
        <!--                <a class="btn btn-danger btn-sm"-->
        <!--                   onclick="if (!(confirm('Are you sure you want to delete this student?'))) return false"-->
        <!--                   th:href="@{/students/delete(studentId=${tempStudent.rollNumber})}">-->
        <!--                    Delete-->
        <!--                </a>-->
        <!--            </td>-->
        <!--        </tr>-->
        </tbody>
    </table>

    <form action="#" th:action="@{/attendance/fingerprint}" th:method="POST" enctype="multipart/form-data">
        <input class="form-control mb-4 col-4" type="file" name="fingerprint">
        <button class="btn btn-info col-2" type="submit">isExist</button>
    </form>
</div>
</body>
</html>



